.distintivo {
    background-color: #2196f3;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
    width: auto !important;
}

.txtVilao {
    color: red;
}

.txtHeroi {
    color: green;
}

.debug {
    background-color: aqua;
}